
header {
    background-color:#B9D9B4;
    padding: 15px;
  }
  header ul {
    float: right;
    color: #288D85;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
.heroImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
     grid-template-areas:
      ". .";
    justify-content: reverse space-evenly;
      
}


  .contentleft{
    padding: 50px 25px 50px 100px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

  }  

  .contentright{
    margin: 50px 50px 50px 100px;
  }



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px 0px;
    margin: 25px 100px 50px;
    grid-template-areas:
      ". . .";
    
  }


p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height: 30px;
    font-size: 16px;

}
h2{
font-family: 'Libre Caslon Text', serif;
font-style: normal;
font-weight: 600;
font-size: 24px;


color: #288D85;
}
p3 {
    position: absolute;
    width: 114px;
    height: 48px;
    left: 663px;
    top: 1748px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    

}


h1{
   
    
    font-family: Libre Caslon Text;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: -0.02em;
    
    color: #000000;}



.footer{
    background-color:#B9D9B4;
    padding: 5px;
    color: black;
    text-align: center;

}

.accordion {
  background-color:  #288D85;
  ;
  color: #ffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #B9D9B4;
  color: #444;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}