header {
    background-color:#B9D9B4;
    padding: 15px;
  }
  header ul {
    float: right;
    color: #288D85;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }

  .heroImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
     grid-template-areas:
      ". .";
    justify-content: reverse space-evenly;
      
}


p{
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}
h1{
   
    
  font-family: Libre Caslon Text;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: -0.02em;
  
  color: #000000;}

h4{
  font-family: Libre Caslon Text;
  color: #288D85;

}

button {
  padding: 15px;
  background-color: #288D85;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}

.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #EBEBEB;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
  "img1 content1"
  "img2 content2"
  "img3 content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
  
}
.img1, .img2, .content1, .content2 {
  padding: 80px;
}
.content1 {
  grid-area: content1;
}
.content2 {
  grid-area: content2;
}










  .footer{
    background-color:#B9D9B4;
    padding: 5px;
    color: black;
    text-align: center;

}
